@import "@src/variables.less";
@import (less)"@src/global.less";

@vector: "../../assets/vectors_about/vector.png";
@bands: "../../assets/vectors_about/bands.png";

.page {
  ._decoratedPage;
  ._resizedPage;
}

.bg_vector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: -2;
}

.bg_bands {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  @media(@_md) {
    display: none;
  }

}

.container {
  &:extend(._container);
  max-width: @container_width_lg;
}

.content {
  ._content;

  display: grid;
  grid-template-columns: fit-content(45%) fit-content(35%);
  justify-content:  space-evenly;

  @media(@_lg) {
    grid-template-columns: fit-content(50%) fit-content(35%);
  }

  @media(@_md) {
    grid-template-columns: 2fr 1fr 1fr;
  }

  @media(@_sm) {
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: minmax(210px, 30%) minmax(190px, 25%) 50%;
    align-items: center;
  }

  @media(@_xs) {
    grid-template-columns: 1fr 3.5fr 1fr;
    grid-template-rows: minmax(265px, 27.5%) minmax(265px, 25%) 45%;
  }
}

.circle {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.promo {
  height: 80%;
  padding-left: 20%;
  position: relative;

  @media(@_lg) {
    height: 90%;
  }

  @media(@_md) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.promoTop {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
}

.promoBottom {
  position: relative;
  grid-column: 2/4;
  grid-row: 2/3;
}

.textSM {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 65%;
  text-align: center;
  margin: 0 auto;
}

.text {
  height: 100%;
  max-width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(@_md) {
    max-width: min(70%, 340px);
  }
}

.text > p {
  overflow-wrap: break-word;
  font-size: calc(1em + 0.05vw);
  font-weight: 300;
  line-height: 172.52%;
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  @media(@_lg) {
    font-size: 1em ;
  }
}

.image {
  position: relative;
  margin: 5%;
  z-index: 5;

  @media(@_md) {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}

.imageSM {
  position: relative;
  z-index: 5;
  grid-column: 1/4;
  grid-row: 3/4;
  margin-top: 15%;

}

.student {
  position: relative;
  height: 100%;
  left: 50%;
  transform: translate(-50%);

}

/**
    Анимация.
 */

@-webkit-keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);}
}
@-moz-keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);}
}
@-o-keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);}
}
@keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);}
}

.animation {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left:0;
  z-index: -1;

  -webkit-animation-name: rotation;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



