@import "@src/variables.less";
@import (less)"@src/global.less";

@wave_l: "@src/assets/blocks/wave_left.svg";
@wave_r: "@src/assets/blocks/wave_right.svg";

.page {
  ._resizedPage;

  @media(min-width: 1350px){
    overflow-x: hidden;
  }
}

.wave_l {
  position: absolute;
  height: 75%;
  top: 25%;
  left: clamp(-375px, calc((100% - 1170px) / 2 - 22.5%), 0px);
  object-fit: cover;
  object-position: right;

  @media(@_xl) {
    display: none;
  }
}

.wave_r {
  position: absolute;
  height: 75%;
  top: 20%;
  right: clamp(-550px, calc((100% - 1170px) / 2 - 22.5% - 80px), 80px);
  object-fit: cover;
  object-position: left;

  @media(@_xl) {
    display: none;
  }
}

.container {
  ._container;

  @media(max-width: 1250px) {
    max-width: 900px;
  }
}

.content {
  padding-top: clamp(30px, 5.5%, 85px);
  padding-bottom: clamp(30px, 7.5%, 120px);
}

