/*@import "@src/variables.less";*/
@import (less)"@src/global.less";

@vector: "../../assets/blocks/vector.svg";
@hash_l: "@src/assets/blocks/left_hash.png";
@hash_r: "@src/assets/blocks/right_hash.png";

@container_media_width: 1170px;
@container_small_width: 990px;

.page{
  ._decoratedPage;
  ._resizedPage;

  &::before {
    top: -550px;
    height: 200%;
    background-image: url(@vector);
    background-position: left 0 top 0;
    filter: blur(200px);
    border-radius: 400px;
    opacity: 0.9;
    z-index: -2;
  }
}

.container {
  max-width: @container_media_width;
  margin: 0 auto;
  padding: 0 40px;
  height: 100%;

  @media(@_lg) {
    max-width: @container_small_width;
  }
}

.content {
  ._content;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  align-content: center;
  position: relative;
}

.image {
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc((100vw - @container_media_width) / 2);
    left: calc((100vw - @container_media_width) / -4);
    background-image: url(@hash_l);
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media(@_lg) {
    width: calc((100vw - @container_small_width) / 2);
    left: calc((100vw - @container_small_width) / -4);
  }
}

.blocks {
  position: relative;
  padding-top: 2em;

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc((100vw - @container_width) / 2);
    top: 0;
    left: 100%;

    background-image: url(@hash_r);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.description {
  max-width: 20em;
  padding-top: 1em;
  font-size: calc(1em + 0.5vw);
  font-weight: 400;
  line-height: 1.2em;
  color: @grey-text-color;

  margin-bottom: 0.5em;
}

.blocksWrapper {
  width: max-content;
  height: max-content;
  padding: 2.5em;
  background-image: url("@src/assets/rectangle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.blocksList {
  font-size: calc(1em + 0.4vw);
  font-weight: 600;
  line-height: 2em;

  padding-right: 2.5em;
  @media(@_xl) {
    padding-right: 2em;
  }
}

.listElement {
  position: relative; // для псевдоэлементов.
  margin: 0.5em 0;
  padding-left: 4em;
  color: @dark-purple-color;
}

.listElement {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    max-width: 2em;
    width: 100%;
    height: 100%;
    background: url("@src/assets/tick.svg");
    background-size: contain;
  }
}


.vector_animation {
  transform: translateX(-50%) translateY(-50%) scaleX(var(--fgmtn-scale-x)) scaleY(var(--fgmtn-scale-y)) rotate(var(--fgmtn-rotation));
  animation: Vector__rotation__1 60000ms 0ms linear forwards;
}

@keyframes Vector__rotation__1 {
  from {
    --fgmtn-rotation: 0deg;
  }

  to {
    --fgmtn-rotation: -1440deg;
  }
}
