@import "@src/variables.less";
@import (less)"@src/global.less";

.page {
  ._resizedPage;
}

.container {
._container;
}

.content {
  ._content;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text {
  margin-bottom: 3em;
}

.subtitle {
  color: @purple-text-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(1em + 0.8vw);
  line-height: 1.2em;
  letter-spacing: 0.16em;
}

.description {
  color: @purple-text-color;
  font-weight: 500;
  font-size: calc(1em + 0.4vw);
  line-height: 1.2em;
  letter-spacing: 0.05em;
}