@import "@src/variables.less";
@import (less)"@src/global.less";

@bg_lg: '@src/assets/participate.png';
@bg_md: '@src/assets/participate_md.png';
@bg_xs: '@src/assets/participate_xs.png';

.page {
  ._resizedPage;
}

.background {
  position: relative;
}

.backgroundImg {
  position: absolute;
  width: 100%;
  max-height: 90%;
  left:0;
  top: 10%;
  object-fit: contain;
  z-index: -1;

  @media(@_sm) {
    display: none;
  }

}

.container {
._container;
}

.content {
  padding-top: clamp(30px, 5.5%, 85px);
  padding-bottom: clamp(30px, 7.5%, 120px);

  display: grid;
  grid-template-columns: 55% 1fr;

  @media (@_sm) {
    grid-gap: 5% 0;
  }

  @media (@_xs) {
    grid-template-columns: 1fr;
  }
}

.image {
  position: relative;
  z-index: 1;

  @media (@_xs) {
    order: 2;
    justify-self: center;
  }
}

.phoneText {
  position: absolute;
  color: @purple-text-color;
  font-weight: 500;
  font-size: min(1.2vw, 0.95em);
  top: 37.5%;
  left: 50%;
  transform: translate(-50%);
  margin-left: 0.5em;

  @media (@_xs) {

    font-size: min(2.2vw, 0.95em);
  }


  & .smallText {
    z-index: 10;
    font-size: 0.8em;
    margin-left: 1em;
  }
}

.location {
  display: flex;
  flex-direction: column;
  align-items: start;

  @media (@_xs) {
    align-items: center;
    justify-self: center;
    order: 1;
  }
}

.textBlock {
  margin-bottom: 3em;
  width: 100%;

  @media(@_sm) {
    margin-bottom: 2em;
  }
}

.subtitle {
  color: @purple-text-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(1em + 0.75vw);
  line-height: 1.2em;
  letter-spacing: 0.16em;

  @media(@_sm) {
    font-size: calc(1em + 1vw);
  }
}

.description {
  color: @purple-text-color;
  font-weight: 500;
  font-size: calc(1em + 0.3vw);
  line-height: 1.2em;
  letter-spacing: 0.05em;

  @media (@_sm) {
    font-size: calc(1em + 0.5vw);
  }
}

.toggle {
  position: absolute;
  z-index: 10;
  right: clamp(50px, 15%, 450px);
  bottom: clamp(50px, 30%, 450px);

  @media (@_sm) {
    right: 30px;
    bottom: 120px;
  }

  @media (@_xs) {
    right: 10px;
    bottom: 100px;
  }
}