@import "@src/variables.less";
@import (less)"@src/global.less";

.container {
  ._container;
}

.toggles {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: @page_padding 0;

  & img {
    margin-top: -15px;
  }

  @media(@_sm) {
    padding: calc(2 * @page_padding) 0;
  }

}
